# 2022 Survey Data

In [187]:
import os
import re
import numpy as np
import pandas as pd
import geopandas as gpd
import seaborn as sns

import matplotlib.cm as cm
import matplotlib.pyplot as plt

In [188]:
# Read data from excel. 
fd = 'mops2022data.xlsx'
survey1 = pd.read_excel( fd, sheet_name=0 )

In [189]:
survey1.tail(n=10)

,Sample,Response No,Low rise - as opposed to high rise,Social rent - as opposed to higher rents,Lots of space inside,Accomodates physical disabilities e.g. step-free access,Family friendly - having units with more bedrooms,Low carbon footprint,"Community spaces e.g. play areas, youth centre",Green space,...,I live elsewhere in Hackney,I shop at Tesco,I use the car park,I'm a member of a local community group,I work in Hackney,I own a local business,I study in Hackney,I have no connection to Hackney,Other.2,Please specify.3
744,2,597,0,1,0,0,0,0,1,1,...,0,1,1,0,0,0,0.0,0,0,0
745,2,598,0,0,1,0,0,1,0,1,...,0,1,0,0,0,0,0.0,0,0,0
746,2,601,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0.0,0,0,0
747,2,602,0,0,1,0,0,0,0,0,...,99,99,99,99,99,99,99.0,99,99,99
748,2,611,1,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0.0,0,0,0
749,2,616,0,0,0,0,0,1,1,1,...,0,1,0,0,0,0,0.0,0,0,0
750,2,617,1,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0.0,0,0,0
751,2,618,0,0,0,0,0,1,1,1,...,0,1,0,0,0,0,0.0,0,0,0
752,2,623,99,99,99,99,99,99,99,99,...,99,99,99,99,99,99,99.0,99,99,99
753,2,251,0,1,0,0,1,0,1,0,...,1,1,0,0,0,0,0.0,0,0,0

In [190]:
# renaming housing columns 
survey1.rename(columns={'Low rise  - as opposed to high rise':'Low Rise', 'Social rent - as opposed to higher rents':'Social Rent',
                       'Lots of space inside':'Spacious', 'Accomodates physical disabilities e.g. step-free access':'Accessible',
                       'Family friendly - having units with more bedrooms':'Family Friendly', 'Low carbon footprint':'Low Carbon', 
                       'Community spaces e.g. play areas, youth centre':'Community Spaces', 'Green space':'Green Space',
                       'Other':'OtherHousing'},inplace=True)

In [191]:
survey1.head(n=10)

,Sample,Response No,Low Rise,Social Rent,Spacious,Accessible,Family Friendly,Low Carbon,Community Spaces,Green Space,...,I live elsewhere in Hackney,I shop at Tesco,I use the car park,I'm a member of a local community group,I work in Hackney,I own a local business,I study in Hackney,I have no connection to Hackney,Other.2,Please specify.3
0,1,1,0,1,0,0,1,0,1,0,...,0,1,0,1,1,0,0.0,0,0,0
1,1,2,1,1,0,0,0,1,1,0,...,0,1,0,1,1,0,0.0,0,1,"Kids are here, people want it"
2,1,8,1,1,0,1,1,1,0,1,...,0,0,0,1,1,0,0.0,0,0,0
3,1,10,0,0,0,0,0,0,0,0,...,0,1,1,0,1,0,0.0,0,0,0
4,1,12,0,1,0,0,1,0,1,0,...,0,0,0,0,1,0,0.0,0,1,Lived in Hackney for most of my life
5,1,16,0,1,0,1,0,0,0,1,...,0,1,0,0,1,0,0.0,0,0,0
6,1,17,0,1,0,0,1,1,0,0,...,0,1,0,0,1,0,0.0,0,0,0
7,1,18,0,0,0,1,0,1,0,1,...,0,0,0,0,1,1,0.0,0,0,0
8,1,19,0,0,0,0,0,0,0,1,...,0,0,0,1,1,0,0.0,0,0,0
9,1,21,0,0,0,0,0,1,1,1,...,0,0,0,1,0,0,0.0,0,0,0

In [192]:
survey1.value_counts()['Low Rise']

KeyError: 'Low Rise'

In [193]:
survey1.dtypes

Sample                                                              int64
Response No                                                         int64
Low Rise                                                            int64
Social Rent                                                         int64
Spacious                                                            int64
Accessible                                                          int64
Family Friendly                                                     int64
Low Carbon                                                          int64
Community Spaces                                                    int64
Green Space                                                         int64
OtherHousing                                                        int64
Please specify                                                     object
1                                                                  object
2                                                                  object
3                                                                  object
4                                                                  object
3.Why did you rank them in this order? What do and don't you l     object
4.Is there anything  we've missed about housing that you would     object
Affordability                                                       int64
Child-friendly experience                                           int64
Freshness of food                                                   int64
Big product range                                                   int64
Open early in the morning and late at night                         int64
Parking                                                             int64
Disabled-friendly                                                   int64
Cafe within the shop                                                int64
Late opening chemists                                               int64
Other.1                                                             int64
Please specify.1                                                   object
1.1                                                                 int64
2.1                                                                 int64
3.1                                                                 int64
4.1                                                                 int64
7.Why did you rank them in this order? What do and don't you l     object
8.Is there anything else you want to say about shopping?           object
9.How old are you?                                                  int64
10.Do you identify as disabled?                                     int64
11.How do you describe your ethnicity?                             object
12.How do you describe your gender?                                object
Please specify.2                                                   object
13.What is your highest level of qualifications?                    int64
Other qualifications                                               object
I live close to the site                                            int64
I live elsewhere in Hackney                                         int64
I shop at Tesco                                                     int64
I use the car park                                                 object
I'm a member of a local community group                            object
I work in Hackney                                                   int64
I own a local business                                              int64
I study in Hackney                                                float64
I have no connection to Hackney                                     int64
Other.2                                                             int64
Please specify.3                                                   object
dtype: object

In [195]:
survey1.head()

,Sample,Response No,Low Rise,Social Rent,Spacious,Accessible,Family Friendly,Low Carbon,Community Spaces,Green Space,...,I live elsewhere in Hackney,I shop at Tesco,I use the car park,I'm a member of a local community group,I work in Hackney,I own a local business,I study in Hackney,I have no connection to Hackney,Other.2,Please specify.3
0,1,1,0,1,0,0,1,0,1,0,...,0,1,0,1,1,0,0.0,0,0,0
1,1,2,1,1,0,0,0,1,1,0,...,0,1,0,1,1,0,0.0,0,1,"Kids are here, people want it"
2,1,8,1,1,0,1,1,1,0,1,...,0,0,0,1,1,0,0.0,0,0,0
3,1,10,0,0,0,0,0,0,0,0,...,0,1,1,0,1,0,0.0,0,0,0
4,1,12,0,1,0,0,1,0,1,0,...,0,0,0,0,1,0,0.0,0,1,Lived in Hackney for most of my life

In [201]:
survey1['Spacious'].value_counts()[1]

133

In [202]:
survey1['Low Rise'].value_counts()[1]

243

In [203]:
survey1[['Low Rise','Spacious']].value_counts()[1]

Spacious
0    203
1     40
dtype: int64

In [207]:
survey1[['Low Rise','Social Rent', 'Spacious', 'Accessible', 'Family Friendly', 'Low Carbon',
        'Community Spaces', 'Green Space', 'OtherHousing']].value_counts()[0]

Social Rent  Spacious  Accessible  Family Friendly  Low Carbon  Community Spaces  Green Space  OtherHousing
1            0         0           1                0           1                 0            0               53
                       1           1                0           0                 0            0               37
                       0           0                0           1                 1            0               29
                                                    1           0                 1            0               28
                                                                1                 0            0               23
                                                                                                               ..
0            0         0           0                1           1                 0            0                1
                                                                0                 1            1                1
1            0         1           0                0           0                 0            0                1
0            0         1           0                0           0                 1            0                1
1            0         0           1                1           0                 1            0                1
Length: 87, dtype: int64

In [209]:
survey1['Low Rise'].value_counts()[0]

496

In [210]:
survey1['Low Rise'].value_counts()[1]

243

In [211]:
survey1['Low Rise'].value_counts()[99]

15

In [255]:
# Housing results
# First integer listed is '0' and means not important, next is '1'
# which means important, last number in list is '99' which means unanswered

In [214]:
LRR = ((survey1['Low Rise'].value_counts()[0]), (survey1['Low Rise'].value_counts()[1]), 
    (survey1['Low Rise'].value_counts()[99]))
print(LRR)

(496, 243, 15)

In [216]:
SRR = ((survey1['Social Rent'].value_counts()[0]), (survey1['Social Rent'].value_counts()[1]),
       (survey1['Social Rent'].value_counts()[99]))
print(SRR)

(218, 520, 16)

In [220]:
SpaciousR = ((survey1['Spacious'].value_counts()[0]), (survey1['Spacious'].value_counts()[1]),
       (survey1['Spacious'].value_counts()[99]))
print(SpaciousR)

(606, 133, 15)

In [222]:
AHR = ((survey1['Accessible'].value_counts()[0]), (survey1['Accessible'].value_counts()[1]),
       (survey1['Accessible'].value_counts()[99]))
print(AHR)

(542, 197, 15)

In [223]:
FFR = ((survey1['Family Friendly'].value_counts()[0]), (survey1['Family Friendly'].value_counts()[1]),
       (survey1['Family Friendly'].value_counts()[99]))
print(FFR)

(457, 282, 15)

In [224]:
LCR = ((survey1['Low Carbon'].value_counts()[0]), (survey1['Low Carbon'].value_counts()[1]),
       (survey1['Low Carbon'].value_counts()[99]))
print(LCR)

(550, 189, 15)

In [225]:
CSR = ((survey1['Community Spaces'].value_counts()[0]), (survey1['Community Spaces'].value_counts()[1]),
       (survey1['Community Spaces'].value_counts()[99]))
print(CSR)

GSR = ((survey1['Green Space'].value_counts()[0]), (survey1['Green Space'].value_counts()[1]),
       (survey1['Green Space'].value_counts()[99]))
print(GSR)

OHR = ((survey1['OtherHousing'].value_counts()[0]), (survey1['OtherHousing'].value_counts()[1]),
       (survey1['OtherHousing'].value_counts()[99]))
print(OHR)

(463, 276, 15)
(497, 242, 15)
(694, 44, 15)

In [256]:
print("Low Rise")
print(LRR)

print("Social Rent")
print(SRR)

print("Spacious")
print(SpaciousR)

print("Accessible")
print(AHR)

print("Family Friendly")
print(FFR)

print("Low Carbon")
print(LCR)

print("Community Spaces")
print(CSR)

print("Green Space")
print(GSR)

print("OtherHousing")
print(OHR)

Low Rise
(496, 243, 15)
Social Rent
(218, 520, 16)
Spacious
(606, 133, 15)
Accessible
(542, 197, 15)
Family Friendly
(457, 282, 15)
Low Carbon
(550, 189, 15)
Community Spaces
(463, 276, 15)
Green Space
(497, 242, 15)
OtherHousing
(694, 44, 15)

In [257]:
# renaming grocery columns
survey1.rename(columns={'Child-friendly experience':'Child-Friendly', 'Freshness of food':'Freshness', 
                       'Big product range':'Variety', 'Open early in the morning and late at night':'Good Hours',
                       'Cafe within the shop':'Cafe', 'Late opening chemists':'Late Pharmacy', 'Other.1':'OtherFood'},inplace=True)

In [258]:
survey1.head()

,Sample,Response No,Low Rise,Social Rent,Spacious,Accessible,Family Friendly,Low Carbon,Community Spaces,Green Space,...,I live elsewhere in Hackney,I shop at Tesco,I use the car park,I'm a member of a local community group,I work in Hackney,I own a local business,I study in Hackney,I have no connection to Hackney,Other.2,Please specify.3
0,1,1,0,1,0,0,1,0,1,0,...,0,1,0,1,1,0,0.0,0,0,0
1,1,2,1,1,0,0,0,1,1,0,...,0,1,0,1,1,0,0.0,0,1,"Kids are here, people want it"
2,1,8,1,1,0,1,1,1,0,1,...,0,0,0,1,1,0,0.0,0,0,0
3,1,10,0,0,0,0,0,0,0,0,...,0,1,1,0,1,0,0.0,0,0,0
4,1,12,0,1,0,0,1,0,1,0,...,0,0,0,0,1,0,0.0,0,1,Lived in Hackney for most of my life

In [259]:
# Grocery results
# First integer listed is '0' and means not important, next is '1'
# which means important, last number in list is '99' which means unanswered

Affordable_F = ((survey1['Affordability'].value_counts()[0]), (survey1['Affordability'].value_counts()[1]),
       (survey1['Affordability'].value_counts()[99]))
print ("Affordable")
print(Affordable_F)

Child_Friendly = ((survey1['Child-Friendly'].value_counts()[0]), (survey1['Child-Friendly'].value_counts()[1]),
       (survey1['Child-Friendly'].value_counts()[99]))
print("Child-Friendly")
print(Child_Friendly)

Fresh_F = ((survey1['Freshness'].value_counts()[0]), (survey1['Freshness'].value_counts()[1]),
       (survey1['Freshness'].value_counts()[99]))
print("Freshness")
print(Fresh_F)


Variety_F = ((survey1['Variety'].value_counts()[0]), (survey1['Variety'].value_counts()[1]),
       (survey1['Variety'].value_counts()[99]))
print("Variety")
print(Variety_F)


Good_Hours = ((survey1['Good Hours'].value_counts()[0]), (survey1['Good Hours'].value_counts()[1]),
       (survey1['Good Hours'].value_counts()[99]))
print("Good Hours")
print(Good_Hours)


Parking_F = ((survey1['Parking'].value_counts()[0]), (survey1['Parking'].value_counts()[1]),
       (survey1['Parking'].value_counts()[99]))
print("Parking")
print(Parking_F)

Disabled_F = ((survey1['Disabled-friendly'].value_counts()[0]), (survey1['Disabled-friendly'].value_counts()[1]),
       (survey1['Disabled-friendly'].value_counts()[99]))
print("Disabled-friendly")
print(Disabled_F)

Cafe_F = ((survey1['Cafe'].value_counts()[0]), (survey1['Cafe'].value_counts()[1]),
       (survey1['Cafe'].value_counts()[99]))
print("Cafe")
print(Cafe_F)

Late_Pharmacy = ((survey1['Late Pharmacy'].value_counts()[0]), (survey1['Late Pharmacy'].value_counts()[1]),
       (survey1['Late Pharmacy'].value_counts()[99]))
print("Late Night Pharmacy")
print(Late_Pharmacy)

Other_F = ((survey1['OtherFood'].value_counts()[0]), (survey1['OtherFood'].value_counts()[1]),
       (survey1['OtherFood'].value_counts()[99]))
print("OtherFood")
print(Other_F)

Affordable
(127, 616, 11)
Child-Friendly
(652, 91, 11)
Freshness
(356, 387, 11)
Variety
(412, 331, 11)
Good Hours
(459, 284, 11)
Parking
(592, 151, 11)
Disabled-friendly
(609, 134, 11)
Cafe
(703, 40, 11)
Late Night Pharmacy
(659, 84, 11)
OtherFood
(707, 36, 11)